<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sisloja?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.connection.password">root</property>
    <mapping class="dominio.Cliente"/>
    <mapping class="dominio.Entrada"/>
    <mapping class="dominio.Fornecedor"/>
    <mapping class="dominio.Genero"/>
    <mapping class="dominio.ItemEntrada"/>
    <mapping class="dominio.ItemProduto"/>
    <mapping class="dominio.Produto"/>
    <mapping class="dominio.Usuario"/>
    <mapping class="dominio.Venda"/>
    <mapping class="dominio.TipoMovimento"/>
    <mapping class="dominio.Movimento"/>
  </session-factory>
</hibernate-configuration>
